body {
  background-image: url(./imagenes/fondo2.avif);
  background-size: auto 80px;
}

.contenedor {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.493);
  width: 65%;
  height: 42em;
  margin: auto;
  border-radius: 0.3em;
  margin-top: -1%;
  text-shadow: 0 0 5px rgba(0, 179, 255, 0.667), 0 0 10px rgba(0, 178, 255, 1),
  0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
  0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
  0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
  0 0 180px rgba(38, 104, 127, 1);
}
.marco {
  height: 3em;
  width: 100%;
  margin-left: -1%;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  border-radius: 0.3em;
  color: rgb(129, 101, 72);
  margin-top: 5%;
  text-shadow: 0 0 5px rgb(193, 196, 14), 0 0 10px rgb(232, 240, 80),
      0 0 20px rgb(253, 247, 62), 0 0 40px rgb(253, 224, 77),
      0 0 80px rgb(235, 216, 48), 0 0 90px rgb(246, 241, 106),
      0 0 100px rgb(255, 221, 70), 0 0 140px rgb(217, 251, 81),
      0 0 180px rgb(2, 2, 2);
}
.nueva_tarea {
  border-radius: 0.3em;
  padding: 1em;
  width: 15%;

  margin: 1em;
  float: left;
  background-color: rgba(255, 255, 255, 0.015);
}
.descripcion_tarea {
  width: 83.5%;
  border-radius: 0.3em;
  border-color: rgb(60, 158, 238);
  height: 25px;
  color: rgb(60, 158, 238);
  margin-left: -15%;
}
.agregar_tarea {
  background-color: #0077ff;
  color: #ffffff;
  border-radius: 0.3em;
  width: 90%;
  margin-top: 0.5em;
  height: 2.2em;
  margin-left: -15%;
}
.contador {
  border: 0.2em solid rgba(60, 158, 238, 0.711);
  border-radius: 3em;
  width: 6em;
  height: 4em;
  float: right;
  margin-right: 4%;
  padding: 0.2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.16);
  color: rgb(13, 13, 13);
  font-size: 15px;
  margin-top: 4%;
}
.tareas_completadas {
  font-size: 16pt;
  margin-top: -0.011em;
  
}
.lista_tareas {
  display: flex;
  flex-direction: column;
  width: 93.5%;
  height: 100%;
  margin-left: 1.5em;

  margin-top: 8em;
  height: 30em;
  background-color: rgb(255, 255, 255);
  background-image: url(./imagenes/gif7.gif);
  background-size: 100%;
  background-position: center;
  bottom: 0px;
  border: solid;
  border-style: solid;
  border-radius: 1em;
  border-color: rgb(60, 158, 238);
}
.tarea {
  background-color: rgba(255, 255, 255, 0.859);
  color: rgb(0, 0, 0);
  min-height: 25px;
  font-size: 15px;
  border-style: solid;
  border-style: groove;
  border-color: rgb(60, 158, 238);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.sin_tareas {
  color: #ffffff;
}
/* .tarea > * {
  display: inline;
} */
/* .eliminar_tarea {
  margin-left: 30em;
} */

li {
  list-style-type: none;
}

#listaDeTareas {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.tarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.tarea p {
  width: 80%;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

.tarea input {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.tarea i {
  width: 10%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  margin-right: -2%;
}

@media (max-width: 660px) {
  body {
    background-image: url(./imagenes/fondo1.jpg);
    background-size: 10%;
  }
  .contenedor {
    width: 100%;
  }
  .marco {
    width: 80%;
    margin-left: 10%;
  }
  .nueva_tarea {
    width: 18%;
    margin-left: 9%;
  }
  .lista_tareas {
    width: 80%;
    margin-left: 10%;
  }
  .contador {
    width: 15%;
    float: inline-end;
    margin-right: 10%;
  }
  .tarea {
    width: 90%;
    margin-left: 3.5%;
  }
}
